*,
*::before,
*::after {
  box-sizing: border-box;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.test-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    display: block;
  }
}
