{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["gulpfile.babel.js", "gulp/**/*", "app/js/common.js"]}],
    "no-use-before-define": ["error", { "functions": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "prefer-const": ["error", {"destructuring": "any", "ignoreReadBeforeAssign": false}],
    "max-len": ["error", { "code": 150 }]
  }
}
