$font-size: 14px;
$primary-font: 'Montserrat', sans-serif;
$system-font: system-ui, -apple-system, Roboto, Arial, sans-serif;

$size: 70px;
$text-color: #f1faee;
$color-crocodile: #6b705c;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark: #303030;
$deep: #252525;
$accent: #5edffc;
$border-opacity: 0.2;
$text-color: rgb(221, 221, 221);
$bg-dark: #515151;
$border-light: 1px solid rgba($white, 0.2);
