<main class="about">
  <div class="about__wrap wrap">
    <div class="about__container">

      <div class="about__box">
        <div class="about__box-title">Proč spolupracovat <span>se mnou?</span></div>
        <div class="about__box-content">
          <ul class="about__box-list">
            <li><p>Rozumím tomu, co dělám.</p></li>
            <li><p>Hledám vhodné řešení pro Vaši konkrétní situaci.</p></li>
            <li><p>Neustále se zlepšuji, nedělám stejné chyby dvakrát.</p></li>
            <li><p>Držím krok s dobou.</p></li>
            <li><p>Mám zkušenosti provozuji několik vlastních projektů.</p></li>
            <li><p>Pracuji efektivně.</p></li>
            <li><p>Baví mě to!</p></li>
          </ul>
        </div>
      </div>

      <div class="about__box">
        <div class="about__box-title">Co <span>dělám?</span></div>
        <div class="about__box-content about__box-content--wh">
          <div class="about__box-content-desc">
            Přenáším projekty z papíru do reálného světa. Zajišťuji technickou realizaci internetových projektů.
            Navrhuji a tvořím software, ale mám rozhled i v dalších oblastech, jako je použitelnost a uživatelská
            rozhraní, design nebo optimalizace pro vyhledávače. V případě potřeby tak dokážu pro tyto části projektu
            najít lidi, o kterých vím, že odvedou skvělou práci.
          </div>
        </div>
      </div>

      <div class="about__box">
        <div class="about__box-title">Můj <span>skill</span></div>
        <div class="about__box-content skill">

          <div class="skill__item">
            <div class="skill__name">
              <span>Css</span>
              <span>100%</span>
            </div>
            <div class="skill__progress">
              <span></span>
            </div>
          </div>

          <div class="skill__item">
            <div class="skill__name">
              <span>Html</span>
              <span>100%</span>
            </div>
            <div class="skill__progress">
              <span></span>
            </div>
          </div>

          <div class="skill__item">
            <div class="skill__name">
              <span>Java Script</span>
              <span>80%</span>
            </div>
            <div class="skill__progress skill__progress-js">
              <span></span>
            </div>
          </div>

          <div class="skill__item">
            <div class="skill__name">
              <span>Figma</span>
              <span>90%</span>
            </div>
            <div class="skill__progress skill__progress-figma">
              <span></span>
            </div>
          </div>

          <div class="skill__item">
            <div class="skill__name">
              <span>Phtoshop</span>
              <span>85%</span>
            </div>
            <div class="skill__progress skill__progress-ps">
              <span></span>
            </div>
          </div>

        </div>
      </div>

      <div class="about__box">
        <div class="about__box-title">Najemny <span>programator</span></div>
        <div class="about__box-content about__box-content--np">
          <div class="about__box-content-desc">
            Jsem ostřílený programátor v Ruby on Rails, mám více než 12 let zkušeností v komerční sféře.
            Praxe mě naučila dbát na spolehlivost, udržovatelnost a použitelnost. Věřím, že nejlepší řešení
            je to nejjednodušší.
          </div>
        </div>
      </div>

    </div>

    <div class="about__btns">
      <button class="btn-b">Nabídka služeb</button>
      <button class="btn-c">Má práce</button>
    </div>

  </div>
</main>
