<footer class="footer">
  <div class="footer__wrap wrap">
    <div class="footer__container">

      <div class="footer__top">
        <img class="footer__top-sec" src="../images/norton.svg" alt="Norton">
      </div>

      <div class="footer__conteiner">

        <div class="footer__conteiner-col">

          <div class="logo__wrap">
            <img class="footer-logo" src="../images/icons/multi/logo.svg" alt="Logo">
          </div>

        </div>

        <div class="footer__conteiner-col">
          <ul class="footer__links">
            <li class="footer__link">Časté dotazy</li>
            <li class="footer__link">Zásady ochrany osobních údajů</li>
            <li class="footer__link">Kontakty</li>
            <li class="footer__link">Pravidla a podmínky</li>
            <li class="footer__link">Pomoc</li>
          </ul>
        </div>

        <div class="footer__conteiner-col">
          <div class="footer__contacts">
            <a href = "mailto: conflictboy@hotmail.cz">conflictbo@hotmail.cz</a>
            <a href="tel:+420722314686">722 314 686</a>
            <a>Velké Hamry 611, 46845</a>
          </div>
          <div class="footer__social">

            <a class="footer__socila-link" href="#" target="_blank">
              <svg class="social-icon">
                <use xlink:href="images/sprites/sprite-mono.svg#twitter"></use>
              </svg>
            </a>

            <a class="footer__socila-link" href="#" target="_blank">
              <svg class="social-icon">
                <use xlink:href="images/sprites/sprite-mono.svg#telegram"></use>
              </svg>
            </a>

            <a class="footer__socila-link" href="#" target="_blank">
              <svg class="social-icon">
                <use xlink:href="images/sprites/sprite-mono.svg#facebook"></use>
              </svg>
            </a>

            <a class="footer__socila-link" href="#" target="_blank">
              <svg class="social-icon">
                <use xlink:href="images/sprites/sprite-mono.svg#github"></use>
              </svg>
            </a>

          </div>
        </div>

        <div class="footer__conteiner-col">
          Image
        </div>

      </div>

      <div class="footer__copyright">
        <p>Copyright © 2021 by moder designer</p>
      </div>

    </div>
  </div>
</footer>
