<header class="header">
  <!-- add wwrap style css -->
  <div class="header__wrap wrap">
    <div class="header__container container">

      <!-- Header Top Start -->
      <div class="header-top">

        <a href="#" class="header-logo">
          <!-- <div class="header-logo__img">
            <svg class="logo-img">
              <use xlink:href="images/sprites/sprite-mono.svg#freelancer"></use>
            </svg>
          </div>
          <div class="header-logo__text">LOGO</div> -->
          <img src="../images/icons/multi/logo.svg" alt="">
        </a>

        <div class="header-decoration"></div>

        <div class="header-contact">
          <div class="header-contact__telefon"><span>Telefon:</span> 723 618 564</div>
        </div>

        <div class="header-decoration"></div>

        <div class="header-menu">
          @@include('../../template/components/hamburger.html')
        </div>

      </div>
      <!-- Header Top End -->

      <div class="header-submenu">
        <ul class="header-submenu-navigation">
          <li><a href="#">Modely</a></li>
          <li><a href="#">Nabídky</a></li>
          <li><a href="#">Služby</a></li>
          <li><a href="#">Elektromobilita</a></li>
          <li><a href="#">Radost z jízdy</a></li>
        </ul>
      </div>

      <!-- Header Content Start -->
      <div class="header-content">

        <!-- Header Left Start -->
        <div class="header-left">

          <div class="header-left__decoration"></div>

          <div class="header-left__kriz">
            <span class="header-left__kriz-icon">
              <svg class="icon-kriz">
                <use xlink:href="images/sprites/sprite-mono.svg#kriz"></use>
              </svg>
            </span>
            <span class="header-left__kriz-icon">
              <svg class="icon-kriz">
                <use xlink:href="images/sprites/sprite-mono.svg#kriz"></use>
              </svg>
            </span>
            <span class="header-left__kriz-icon">
              <svg class="icon-kriz">
                <use xlink:href="images/sprites/sprite-mono.svg#kriz"></use>
              </svg>
            </span>
          </div>

          <div class="header-left__share">
            <a href="https://github.com/Klubnika2009" target="_blank">
              <svg class="share-icon">
                <use xlink:href="images/sprites/sprite-mono.svg#github-character"></use>
              </svg>
            </a>
          </div>

        </div>
        <!-- Header Left End -->

        <!-- Header Slider Start -->
        <div class="header-slider">

          <div class="header-slider__text">

            <div class="swiper-wrapper">

              <div class="swiper-slide header-slider__text-slide">
                <div class="header-slider__text-slide-conteiner">
                  <div class="header-slider__sub">
                    <div class="header-slider__sub-decoration-s">
                      <svg class="plus-icon-decoration">
                        <use xlink:href="images/sprites/sprite-mono.svg#plus"></use>
                      </svg>
                    </div>
                    <p class="header-slider__sub-title">Design</p>
                    <div class="header-slider__sub-decoration">
                      <img src="../images/icons/multi/long-left.svg" alt="">
                    </div>
                    <div class="header-slider__sub-info">
                      <svg class="info-icon">
                        <use xlink:href="images/sprites/sprite-mono.svg#info-icon"></use>
                      </svg>
                    </div>
                  </div>
                  <h2 class="header-slider__title">Concept by</h2>
                  <div class="header-slider__stars">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                  </div>
                </div>
              </div>

              <div class="swiper-slide header-slider__text-slide">
                <div class="header-slider__text-slide-conteiner">
                  <div class="header-slider__sub">
                    <div class="header-slider__sub-decoration-s">
                      <svg class="plus-icon-decoration">
                        <use xlink:href="images/sprites/sprite-mono.svg#plus"></use>
                      </svg>
                    </div>
                    <p class="header-slider__sub-title">Design</p>
                    <div class="header-slider__sub-decoration">
                      <img src="../images/icons/multi/long-left.svg" alt="">
                    </div>
                    <div class="header-slider__sub-info">
                      <svg class="info-icon">
                        <use xlink:href="images/sprites/sprite-mono.svg#info-icon"></use>
                      </svg>
                    </div>
                  </div>
                  <h2 class="header-slider__title">Concept by</h2>
                  <div class="header-slider__stars">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                  </div>
                </div>
              </div>

              <div class="swiper-slide header-slider__text-slide">
                <div class="header-slider__text-slide-conteiner">
                  <div class="header-slider__sub">
                    <div class="header-slider__sub-decoration-s">
                      <svg class="plus-icon-decoration">
                        <use xlink:href="images/sprites/sprite-mono.svg#plus"></use>
                      </svg>
                    </div>
                    <p class="header-slider__sub-title">Design</p>
                    <div class="header-slider__sub-decoration">
                      <img src="../images/icons/multi/long-left.svg" alt="">
                    </div>
                    <div class="header-slider__sub-info">
                      <svg class="info-icon">
                        <use xlink:href="images/sprites/sprite-mono.svg#info-icon"></use>
                      </svg>
                    </div>
                  </div>
                  <h2 class="header-slider__title">Concept by</h2>
                  <div class="header-slider__stars">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                  </div>
                </div>
              </div>

              <div class="swiper-slide header-slider__text-slide">
                <div class="header-slider__text-slide-conteiner">
                  <div class="header-slider__sub">
                    <div class="header-slider__sub-decoration-s">
                      <svg class="plus-icon-decoration">
                        <use xlink:href="images/sprites/sprite-mono.svg#plus"></use>
                      </svg>
                    </div>
                    <p class="header-slider__sub-title">Designss</p>
                    <div class="header-slider__sub-decoration">
                      <img src="../images/icons/multi/long-left.svg" alt="">
                    </div>
                    <div class="header-slider__sub-info">
                      <svg class="info-icon">
                        <use xlink:href="images/sprites/sprite-mono.svg#info-icon"></use>
                      </svg>
                    </div>
                  </div>
                  <h2 class="header-slider__title">Concept by</h2>
                  <div class="header-slider__stars">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                    <img class="icon-star" src="../images/icons/multi/star.svg" alt="">
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="header-slider__img">
            <div class="swiper-wrapper">
              <div class="swiper-slide header-slider__img-slide">
                <div class="header-slider__img-slide-bg" style="background-image: url(../images/metall-bg.jpg);" data-swiper-parallax-scale="1.5" data-swiper-parallax-opacity="0.3" data-swiper-parallax="30%"></div>
              </div>
              <div class="swiper-slide header-slider__img-slide">
                <div class="header-slider__img-slide-bg" style="background-image: url(../images/metall-bg.jpg);" data-swiper-parallax-scale="1.5" data-swiper-parallax-opacity="0.3" data-swiper-parallax="30%"></div>
              </div>
              <div class="swiper-slide header-slider__img-slide">
                <div class="header-slider__img-slide-bg" style="background-image: url(../images/metall-bg.jpg);" data-swiper-parallax-scale="1.5" data-swiper-parallax-opacity="0.3" data-swiper-parallax="30%"></div>
              </div>
              <div class="swiper-slide header-slider__img-slide">
                <div class="header-slider__img-slide-bg" style="background-image: url(../images/metall-bg.jpg);" data-swiper-parallax-scale="1.5" data-swiper-parallax-opacity="0.3" data-swiper-parallax="30%"></div>
              </div>
            </div>
          </div>

          <!-- Header Slider Bottom Start -->
          <div class="header-slider__bottom">
            <div class="slider-bottom__btns">
              <div class="slider-bottom__btns-wrap">
                <a href="https://code.visualstudio.com/" class="slider-bottom__btns-item" target="_blank">
                  <svg class="btns-item-icon">
                    <use xlink:href="images/sprites/sprite-mono.svg#vscode"></use>
                  </svg>
                </a>
                <a href="https://www.sublimetext.com/download" class="slider-bottom__btns-item" target="_blank">
                  <svg class="btns-item-icon">
                    <use xlink:href="images/sprites/sprite-mono.svg#sublimetext"></use>
                  </svg>
                </a>
                <a href="https://atom.io/" class="slider-bottom__btns-item" target="_blank">
                  <svg class="btns-item-icon">
                    <use xlink:href="images/sprites/sprite-mono.svg#atom"></use>
                  </svg>
                </a>
              </div>
            </div>

            <div class="slider-bottom__pagination">
              <div class="swiper-pagination"></div>
            </div>

            <div class="slider-bottom__navigation">
              <div class="slider-bottom__navigation-wrap">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>

          </div>
          <!-- Header Slider Bottom End -->

          <!-- Header Slider Gear Start -->
          <!-- <div class="header-slider__gear"></div> -->
          <!-- Header Slider Gear End -->
        </div>
        <!-- Header Slider End -->

      </div>
      <!-- Header Content End -->

    </div>
  </div>
</header>
