<section class="portfolio">
  <div class="portfolio__wrap wrap">
    <div class="portfolio__path">
      <img class="portfolio__path-img" src="../images/section-decoration.svg" alt="">
    </div>
    <div class="portfolio__content">
      <h2 class="portfolio__title">Portfolio</h2>
      <div class="title-decoration-wrap">
        <img class="decoration-two-line-mono" src="../images/decoration-two-line-mono.svg" alt="">
      </div>
      <div class="portfolio__item-content">

        <div class="portfolio__items-wrap">

          <div class="portfolio__item-template">
            <img src="../images/portfolio-01.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Info web portal</p>
            </div>
          </div>

          <div class="portfolio__item-template">
            <img src="../images/portfolio-02.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Music web site</p>
            </div>
          </div>

        </div>

        <div class="portfolio__items-wrap">

          <div class="portfolio__item-template">
            <img src="../images/portfolio-03.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Landing page</p>
            </div>
          </div>

          <div class="portfolio__item-template">
            <img src="../images/portfolio-04.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Code developer</p>
            </div>
          </div>

        </div>

        <div class="portfolio__items-wrap">

          <div class="portfolio__item-template">
            <img src="../images/portfolio-05.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Modern capture</p>
            </div>
          </div>

          <div class="portfolio__item-template">
            <img src="../images/portfolio-06.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Beautiful design</p>
            </div>
          </div>

        </div>

        <div class="portfolio__items-wrap">

          <div class="portfolio__item-template">
            <img src="../images/portfolio-07.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Techno visite</p>
            </div>
          </div>

          <div class="portfolio__item-template">
            <img src="../images/portfolio-08.svg" alt="Template">
            <div class="portfolio__item-template-name">
              <p>Car dealer</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
